html{
    box-sizing:border-box;
}
*, *:after, *:before {
    box-sizing:inherit;
}

body {
    background: url('../img/Fon 1.png') no-repeat center center fixed;
    background-size:cover;
    width:100%;
    margin:0 auto;
}

.topnav {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.flex-head {
    display:flex;
   justify-content: space-between;
}

.flex-head a {
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: 700;
        font-size: 22px;
        line-height: 22px;
    }

.kontact-Log, .kontact, .login {
    display: flex;
}
    .login a {
        font-weight: 400;
        font-size: 14px;
        line-height: 14px;
        padding: 18px 10px;
    }


.flex-head a:hover {
    color: green;
}
    svg:hover {
        fill: green;
    }
    /*--------------------------------------------main----------------------------*/

.modal {
    border: 1px solid blue;
    padding: 17em 15em;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.squre {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 29px;
    background: #3CB878;
}

.conteiner {
    padding: 16em 12em;
    position: fixed;
    transform: translate(-50%, -50%);
    box-sizing:content-box;
}

.regisrition {
    position: fixed;
    width: 75%;
    height: 100%;
    bottom: 0;
    left: 13%;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.requisite {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 10%;
}
    .requisite a {
        text-decoration: none;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
    }
.active-Sign {
    color: #434343;
}
.active-Log {
    color: #3CB878;
}

.Facebook {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    height: 100%;
    background: #305DB8;
}
.Google {
    margin-left: 8px;
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    height: 100%;
    background: #DF4A32;
}
.Facebook-log {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 22px;
}
.Facebook_a {
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}
.Google-log {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 22px;
}

.Google_a {
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    color: white;
}
.Facebook:hover {
    background: #022263;
}

.Google:hover {
    background: #AB1F09;
}

.block {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    height: 100%;
}
    .block span:before {
        display: block;
        left: 0;
        width: 136px;
        content: '';
        position: absolute;
        border-bottom: 1px solid #F2F2F2;
        top: 25%;
    }
    .block span:after {
        display: block;
        right: 0;
        width: 136px;
        content: '';
        position: absolute;
        border-bottom: 1px solid #F2F2F2;
        top: 25%;
    }





.form {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: 10%;
    flex-direction: column;
    flex-grow:4;
}

.flex-text {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    height: 100%;
    
}
.text {
    padding: 0;
    border: 0;
    width: 100%;
    height: 75%;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
}
.text_checkbox {
    position: absolute;
    left: 0;
    justify-content: left;
    padding: 0;
    width: 18px;
    height: 20px;
    font-size: 14px;
    line-height: 14px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
}
    .text_checkbox:focus {
        outline: 0;
        background: #FFFFFF;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
        border-radius: 4px;
    }

    .text_button {
        padding: 0;
        border: 0;
        width: 100%;
        height: 75%;
        border: 1px solid #F2F2F2;
        border-radius: 4px;
        font-size: 14px;
        line-height: 14px;
        background: rgba(60, 184, 120, 0.8);
        border-radius: 4px;
    }
.text:focus {
    outline: 0;
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}