
.page {
    max-width: 1400px;
    margin: 0 auto;
}
.size {
    width: 1366px;
    height: 768px;
    background-image: url('../img/background 1.png');
}

.header {
    height: 10%;
    padding-top: 2%;
    margin-left: 161px;
    margin-right: 177px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-text-start {
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    gap: 7%;
}
.flex-text-start :nth-child(1){
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
}
.flex-text-start :nth-child(2){
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}
.columns {
    width: 100%;
    color: white;
    height: 100%;
    text-align: right;
    gap: 20%;
    display: flex;
    flex-direction: column;
}
.columns a{
    text-decoration: none;
    color: white;
}
.flex-text-start a{
    text-decoration: none;
    color: white;
}
/*++++++++++++++++++++++++++++hover++++++++++++++++++++++++++*/
.flex-text-start :hover:nth-child(1){
    color: #F26522;
}

.columns :hover:nth-child(1){
    color: #F26522;
}
.header-img :hover{
    filter:  sepia(100%);
}

.bottom-menu-box-1:hover .ditels{
    position: absolute;
    transform: translateY(-60px);
    background: #F26522;
    width: 304px;
    height: 55px;
    margin: 0;
    opacity: 1;

}
/*.img_box :hover {
  border: 3px solid #00af64;;
}*/

.bottom-menu-box-1:hover .box_footer_img1{
    color: #F26522;

}
.ditels {
    justify-content: end;
    position: absolute;
    transform: translateY(-60px);
    background: #F26522;
    width: 304px;
    height: 55px;
    opacity: 0;
    text-align: center;
    transition-duration: 2s;
    /*transition: background-color 0.5s ease-in-out 0.3s, transform 1s, border-radius 1s;*/
}
.bottom-menu-box-1 div{
    overflow: hidden;
}

/*-----------------------------hover-------------------------*/
*:before, *:after{
    box-sizing: border-box;
}
.HeatingNetworks figure{
    margin: 0;
}
/*.bottom-menu-box-1 :nth-child(3){
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}*/
.columns :nth-child(1){
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    padding: 5px;
}
.columns :nth-child(2){
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.container {
    margin-top: 17px;
    width: 1028px;
    height: 100%;
    margin-left: 165px;
    margin-right: 176px;

}
.HeatingNetworks {
    display: flex;
    width: 1028px;
    height: 80%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.HeatingNetworks a{
    text-decoration: none;
    color: white;
}
.HeatingNetworks p{
    color: white;
    text-align: center;
}
.Footer {
    text-align: center;
    color: white;
}

.main-flex-img {
    display: flex;
    justify-content: space-between;
    text-align: left;
    overflow: hidden;

}

.main-flex-columns {
    height:60px;
    text-align: right;
    /*gap: 20%;*/
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-left: 8px;
    width: 50px;
    justify-content: left;
}
.from {
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    text-align: left;
    margin-top: 7px;
}
.price {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    margin: 0;
}
.View {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: 60px;
    margin-left: 0;
}
.View::after {
    margin-left: 16px;
    content: " >"
}
